.element__like {
    background-image: url(../images/like_disabled.svg);
    background-color: #fff;
    min-width: 22px;
    height: 19px;
}

.element__like:hover {
    opacity: 60%;
}

.element__like:active {
    background-image: url(../images/like_active.svg);
    opacity: 100%;
} 