.header__logo {
    height: 33px;
    width: 142px;
    margin-bottom: 41px;
}

@media screen and (max-width: 900px) {
    .header__logo {
        height: 24.4px;
        width: 103.74px;
        margin-left: 27px;
        margin-bottom: 31.6px;
    }
}