.popup__form {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.21;
    font-weight: 400;
    margin: 0 36px 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__form:last-child {
    margin-bottom: 0;
}

.popup__form:invalid {
    border-bottom: 1px solid red; 
    margin-bottom: 0;
  }


@media screen and (max-width: 550px) {
    .popup__form { 
        margin: 0 22px 30px;
    }
}

.popup__input-error {
    display: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    color: red;
    padding-top: 5px;
    padding-bottom: 13px;
    margin-left: 36px;
    box-sizing: border-box;
}

.popup__input-error_active {
    display: flex;
}


