.popup__submit {
    margin: 48px 36px 37px;
    width: 358px;
    min-height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    font-weight: 400;
    font-size: 18px;
    outline: none;
}

@media screen and (max-width: 550px) {
    .popup__submit { 
        margin: 45px 22px 25px;
        width: 238px;
        font-size: 14px;
        line-height: 1.21;
    }
}

.popup__submit:hover {
    opacity: 80%;
    cursor: pointer;
}