.button_plus {
    background-image: url(../../../images/add_btn.svg);
    background-repeat: no-repeat;
    background-position: center;

    width: 22px;
    height: 22px;
}

@media screen and (max-width: 768px) {
    .button_plus {
        width: 16px;
        height: 16px;
    }
}