.profile__job {
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 16px 0 0;
    font-size: 18px;
    line-height: 1.22;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .profile__job {
        max-width: 282px;
        text-align: center;
        margin: 14px auto 36px;
        font-size: 14px;
        line-height: 1.21;
    }
}