.button_edit {
    align-self: flex-end;
    background-image: url(../../../images/edit_btn.svg);
    border: #fff 1px solid;
    width: 24px;
    height: 24px;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .button_edit {
        width: 18px;
        height: 18px;
    }
}